<div class="row">
    <div class="col-10">
        <h1><%=post.title%></h1>
        <hr>
        <p><%=post.body%></p>
    </div>
    <div class="col-2">
        <a href="/posts/edit/<%=post.id%>"><button class="btn btn-primary">수정</button></a>
        <a href="/posts/delete/<%=post.id%>"><button class="btn btn-primary">삭제</button></a>
    </div>
</div>
