<form action="/posts/new" class="row" method="post">
    <div class="col-10">
        <div class="form-group">
            <input type="text" name="title" class="form-control" value="">
        </div>
        <hr>
        <div class="form-group">
            <textarea class="form-control" name="body" row="12"></textarea>
        </div>
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-primary">완료</button>
    </div>
</form>